.name-fields, .social-gender-fields {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.telefone-fields {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}